html {
    background-color: black;
}

.boxes {
    color: white;
    border: solid 1px lightgray;    /* https://developer.mozilla.org/en-US/docs/Web/CSS/border
                                    Border is the area between the edge of the padding and the margin. */
    width: 500px;                   /* content area | https://developer.mozilla.org/en-US/docs/Web/CSS/width */
    height: 100px;                  /* content area | https://developer.mozilla.org/en-US/docs/Web/CSS/height */
    padding: 10px;                  /* adding is the space between the edge of the content area and the border.
                                        https://developer.mozilla.org/en-US/docs/Web/CSS/height */
    margin: 10px;                   /* Margin is the area outside of the border.
                                        https://developer.mozilla.org/en-US/docs/Web/CSS/margin
                                        margin: 10px;           all sides margin
                                        margin: 10px 10px;      top and bottom, left and right
                                        margin: 5px 6px 4px 2px; top, right, bottom, left

                                    height = height + padding-top + padding-bottom + border-top + border-bottom
                                    width = width + padding-left + padding-right + border-left + border-right*/
}

.blockLevelElement {
    background-color: #0fb784;
    width: 500px;
    height: 100px;
    margin: 10px;
    align-content: center;
}

.lowerPtag {
    color: white;
    height: 50px;
    width: 50px;
    border: solid 1px lightgray;
    padding: 20px;
    margin: 25px;
    align-items: flex-end;
}